<?xml version="1.0"?>
<launch>
  <!-- define arguments -->
  <arg name="rviz" default="true"/>
  <arg name="planner" default="true"/>
  <arg name="visualizer" default="true" />
  <arg name="planning_ns" default="squirrel_8dof_planning"/>

  <!-- Load a planner parameter configuration -->
  <param name="ns_prefix_robot" value="/$(arg planning_ns)/"/>
  <param name="robot_description_robot" value="/$(arg planning_ns)/robot_description"/>
  <rosparam command="load" file="$(find planner_param_config)/planner_config/planner_parameters_robotino.yaml"/>
  
  <group ns="$(arg planning_ns)">
    <rosparam command="load" file="$(find squirrel_8dof_planner)/config/parameters.yaml" />
    <param name="robot_description" textfile="$(find squirrel_8dof_planner)/config/robotino_plan.urdf"/>
    <param name="robot_description_semantic" textfile="$(find squirrel_8dof_planner)/config/robotino_plan.srdf"/>
    <param name="robot_description_vis" textfile="$(find squirrel_8dof_planner)/config/robotino_plan_vis.urdf"/>
    <include file="$(find squirrel_8dof_planner)/launch/move_group.launch"/>
    <group if="$(arg planner)">
      <node name="squirrel_8dof_planner_node" pkg="squirrel_8dof_planner" type="squirrel_8dof_planner_node" output="screen"/>
    </group>
    <group if="$(arg visualizer)">
    <node name="squirrel_8dof_visualizer_node" pkg="squirrel_8dof_visualizer" type="squirrel_8dof_visualizer_node"/>
    </group>
  </group>

  <!-- start rviz and visualization nodes -->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find squirrel_8dof_planner)/config/config.rviz" />
  </group>

</launch>
