<?xml version="1.0"?>
<launch>

  <!-- define arguments -->
  <arg name="world_name" default="room3"/>
  <arg name="robot" default="tuw-robotino2"/>
  <arg name="joypad" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="rviz" default="true"/>
  <arg name="planner" default="true"/>
  <arg name="planning_ns" default="squirrel_8dof_planning"/>

  <param name="ns_prefix_robot" value="/$(arg planning_ns)/"/>
  <param name="robot_description_robot" value="/$(arg planning_ns)/robot_description"/>
  <rosparam command="load" file="$(find planner_param_config)/planner_config/planner_parameters_robotino.yaml"/>
  
  <group ns="$(arg planning_ns)">
    <rosparam command="load" file="$(find squirrel_8dof_planner)/config/parameters.yaml" />
    <rosparam command="load" file="$(find squirrel_8dof_planner)/config/folding_poses_$(arg robot).yaml" />
    <param name="robot_description" textfile="$(find squirrel_8dof_planner)/config/robotino_plan.urdf"/>
    <param name="robot_description_semantic" textfile="$(find squirrel_8dof_planner)/config/robotino_plan.srdf"/>
    <include file="$(find squirrel_8dof_planner)/launch/move_group.launch"/>
    <group if="$(arg planner)">
      <node name="squirrel_8dof_planner_node" pkg="squirrel_8dof_planner" type="squirrel_8dof_planner_node" output="screen"/>
    </group>
    <node name="squirrel_8dof_visualizer_node" pkg="squirrel_8dof_visualizer" type="squirrel_8dof_visualizer_node" output="screen"/>
  </group>

  <node name="octomap_server_node" pkg="octomap_server" type="octomap_server_node" args="$(find squirrel_8dof_planner)/config/$(arg world_name).ot"/>
  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>
  
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find squirrel_8dof_planner)/config/config_testing.rviz" />
  </group>

</launch>
