#pose (in rad) of folded arm during execution of 2d path
#those poses are added to base poses for the part of the plan that is computed with astar
pose_folded_arm1: 0.627
pose_folded_arm2: -1.790
pose_folded_arm3: 0.052
pose_folded_arm4: -1.654
pose_folded_arm5: -0.492

#appox. distance (in m) to final base pose, from where actual 8dof planning starts
distance_birrt_star_planning: 1.2

#min distance (in m) to obstacles during astar planning
#not considered during path smoothing, should therefore be a bit higher than robot radius
astar_safety_distance: 0.3

#factor that indicates the corner smoothing of the 2d path
#should lie between 1.5 and 2.5; small values indicate no smoothing
#too large values (higher than 3.0) can lead to unwanted loops at tight corners
astar_smoothing_factor: 2.0

#distance (in m) to corners that is used for smoothing; larger value leads to larger corner arcs
#as no collision checks are performed during smoothing, this value should not be too large
astar_smoothing_distance: 0.3

#approx. distance (in m) between base poses generated after smoothing astar path 
astar_final_smoothed_point_distance: 0.03
